{% if site.author.avatar %}
  <div class="author__avatar">
    {% if site.author.avatar contains "://" %}
    <img src="{{ site.author.avatar }}" alt="{{ author.name }}">
    {% else %}
    <img src="{{ site.author.avatar | relative_url }}" alt="{{ author.name }}">
    {% endif %}
  </div>
{% endif %}

<div class="author__content">
  <h3 class="author__name">{{ site.author.name }}</h3>
  {% if site.author.bio %}
    <div class="author__bio">{{ site.author.bio }}</div>
  {% endif %}
</div>

<div class="author__urls-wrapper">
  <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | default: "Follow" }}</button>
  <ul class="author__urls social-icons">
    {% if site.author.location %}
      <li><i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> {{ site.author.location }}</li>
    {% endif %}
    {% if site.author.email %}
      <li><a href="mailto:{{ site.author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
    {% endif %}
    {% if site.author.phone %}
      <li><a href="tel:{{ site.author.phone }}"><i class="fas fa-fw fa-phone" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].phone_label | default: "Phone" }}</a></li>
    {% endif %}
    {% if site.author.website %}
      <li><a href="{{ site.author.website }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
    {% endif %}
    {% if site.author.twitter %}
      <li><a href="https://twitter.com/{{ site.author.twitter }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    {% endif %}
    {% if site.author.facebook %}
      <li><a href="https://www.facebook.com/{{ site.author.facebook }}"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
    {% endif %}
    {% if site.author.google_plus %}
      <li><a href="https://plus.google.com/+{{ site.author.google_plus }}"><i class="fab fa-fw fa-google-plus" aria-hidden="true"></i> Google+</a></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.gitlab %}
      <li><a href="https://gitlab.com/{{ site.author.gitlab }}"><i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> Gitlab</a></li>
    {% endif %}
    {% if site.author.bitbucket %}
      <li><a href="https://bitbucket.org/{{ site.author.bitbucket }}"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    {% endif %}
    {% if site.author.linkedin %}
      <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    {% endif %}
    {% if site.author.xing %}
      <li><a href="https://www.xing.com/profile/{{ site.author.xing }}"><i class="fab fa-fw fa-xing-square" aria-hidden="true"></i> XING</a></li>
    {% endif %}
    {% if site.author.instagram %}
      <li><a href="https://instagram.com/{{ site.author.instagram }}"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
    {% endif %}
    {% if site.author.tumblr %}
      <li><a href="https://{{ site.author.tumblr }}.tumblr.com"><i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i> Tumblr</a></li>
    {% endif %}
    {% if site.author.youtube %}
      <li><a href="https://www.youtube.com/user/{{ site.author.youtube }}"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a></li>
    {% endif %}
    {% if site.author.soundcloud %}
      <li><a href="https://soundcloud.com/{{ site.author.soundcloud }}"><i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> Soundcloud</a></li>
    {% endif %}
    {% if site.author.weibo %}
      <li><a href="https://www.weibo.com/{{ site.author.weibo }}"><i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo</a></li>
    {% endif %}
    {% if site.author.flickr %}
      <li><a href="https://www.flickr.com/{{ site.author.flickr }}"><i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr</a></li>
    {% endif %}
    {% if site.author.codepen %}
      <li><a href="https://codepen.io/{{ site.author.codepen }}"><i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen</a></li>
    {% endif %}
    {% if site.author.vine %}
      <li><a href="https://vine.co/u/{{ site.author.vine }}"><i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine</a></li>
    {% endif %}
    {% if site.author.googlescholar %}
      <li><a href="{{ site.author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a></li>
    {% endif %}
    {% if site.author.pubmed %}
      <li><a href="{{ site.author.pubmed }}"><i class="ai ai-pubmed-square ai-fw" aria-hidden="true"></i> PubMed</a></li>
    {% endif %}
    {% if site.author.orcid %}
      <li><a href="{{ site.author.orcid }}"><i class="ai ai-orcid-square ai-fw" aria-hidden="true"></i> ORCID</a></li>
    {% endif %}
    {% if site.author.impactstory %}
      <li><a href="{{ site.author.impactstory }}"><i class="ai ai-impactstory ai-fw" aria-hidden="true"></i> Impactstory</a></li>
    {% endif %}
    {% if site.author.wikipedia %}
      <li><a href="https://en.wikipedia.org/wiki/User:{{ site.author.wikipedia }}"><i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i> Wikipedia</a></li>
{% endif %}
  </ul>
  <div class="author__urls_sm">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if site.author.location %}
        <li><i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> {{ site.author.location }}</li>
      {% endif %}
      {% if site.author.email %}
        <li><a href="mailto:{{ site.author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}
      {% if site.author.phone %}
        <li><a href="tel:{{ site.author.phone }}"><i class="fas fa-fw fa-phone" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].phone_label | default: "Phone" }}</a></li>
      {% endif %}
      {% if site.author.website %}
        <li><a href="{{ site.author.website }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
      {% endif %}
      {% if site.author.twitter %}
        <li><a href="https://twitter.com/{{ site.author.twitter }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
      {% endif %}
      {% if site.author.facebook %}
        <li><a href="https://www.facebook.com/{{ site.author.facebook }}"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
      {% endif %}
      {% if site.author.google_plus %}
        <li><a href="https://plus.google.com/+{{ site.author.google_plus }}"><i class="fab fa-fw fa-google-plus" aria-hidden="true"></i> Google+</a></li>
      {% endif %}
      {% if site.author.github %}
        <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
      {% endif %}
      {% if site.author.gitlab %}
        <li><a href="https://gitlab.com/{{ site.author.gitlab }}"><i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> Gitlab</a></li>
      {% endif %}
      {% if site.author.bitbucket %}
        <li><a href="https://bitbucket.org/{{ site.author.bitbucket }}"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
      {% endif %}
      {% if site.author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      {% endif %}
      {% if site.author.xing %}
        <li><a href="https://www.xing.com/profile/{{ site.author.xing }}"><i class="fab fa-fw fa-xing-square" aria-hidden="true"></i> XING</a></li>
      {% endif %}
      {% if site.author.instagram %}
        <li><a href="https://instagram.com/{{ site.author.instagram }}"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
      {% endif %}
      {% if site.author.tumblr %}
        <li><a href="https://{{ site.author.tumblr }}.tumblr.com"><i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i> Tumblr</a></li>
      {% endif %}
      {% if site.author.youtube %}
        <li><a href="https://www.youtube.com/user/{{ site.author.youtube }}"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a></li>
      {% endif %}
      {% if site.author.soundcloud %}
        <li><a href="https://soundcloud.com/{{ site.author.soundcloud }}"><i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> Soundcloud</a></li>
      {% endif %}
      {% if site.author.weibo %}
        <li><a href="https://www.weibo.com/{{ site.author.weibo }}"><i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo</a></li>
      {% endif %}
      {% if site.author.flickr %}
        <li><a href="https://www.flickr.com/{{ site.author.flickr }}"><i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr</a></li>
      {% endif %}
      {% if site.author.codepen %}
        <li><a href="https://codepen.io/{{ site.author.codepen }}"><i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen</a></li>
      {% endif %}
      {% if site.author.vine %}
        <li><a href="https://vine.co/u/{{ site.author.vine }}"><i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine</a></li>
      {% endif %}
      {% if site.author.googlescholar %}
        <li><a href="{{ site.author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a></li>
      {% endif %}
      {% if site.author.pubmed %}
        <li><a href="{{ site.author.pubmed }}"><i class="ai ai-pubmed-square ai-fw" aria-hidden="true"></i> PubMed</a></li>
      {% endif %}
      {% if site.author.orcid %}
        <li><a href="{{ site.author.orcid }}"><i class="ai ai-orcid-square ai-fw" aria-hidden="true"></i> ORCID</a></li>
      {% endif %}
      {% if site.author.impactstory %}
        <li><a href="{{ site.author.impactstory }}"><i class="ai ai-impactstory ai-fw" aria-hidden="true"></i> Impactstory</a></li>
      {% endif %}
      {% if site.author.wikipedia %}
        <li><a href="https://en.wikipedia.org/wiki/User:{{ site.author.wikipedia }}"><i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i> Wikipedia</a></li>
{% endif %}
    </ul>
  </div>
</div>
